{% extends 'template.view.html.twig' %}

{% block section_slider %}


{% endblock %}
{% block section_articles %}


{% block section_articles1 %}
<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
                        <div class="col-lg-12 col-md-6">
                            <article class="post-grid mb-3">
                                <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                    <img src="images/news/f1.jpg" alt="" class="img-fluid w-25">
                                </a>

                                <article class="post-grid mb-2">
                                <span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">{{ article.getArticleTitle }}</span></article>


                                {% if article.getCategories is null %}                   
                                    <h3>{{ "Aucune catégorie n'a été trouvé" }}</h3> 
                                {% else %}  
                                    {% for category in article.getCategories %}   
                                
                                <span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1"><a href=".?route=categorie&slug={{ category.getCategorySlug }}">{{ category.getCategoryName }} / </a></span>  
                                    {% endfor %} 
                                {% endif %}
                                </article>

                                <span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">{{ article.getArticleText }}</span>

                                <article class="post-grid mt-2">
                                <span class="text-muted letter-spacing text-uppercase font-sm">{{ article.getArticleDatePublish }} Par {{ article.getUser.getUserFullName }}</span>
                                </article>

        
                                <article class="post-grid mt-2">

                                {% if article.getTags is null %}                   
                                    <h3>{{ "Aucun tag !" }}</h3> 
                                {% else %}  
                                    {% for tags in article.getTags %}   
                                
                                <span class="cat-name text-color font-extra text-sm  letter-spacing-1"><a href=".?route=tag&slug={{ tags.getTagSlug }}">{{ tags.getTagSlug }} / </a></span>  
                                    {% endfor %} 
                                {% endif %}
                                </article>

                                <article class="post-grid mt-2">

                                {% if comments is null %}                   
                                    <h3>{{ "Aucun commentaire n'a été trouvé" }}</h3> 
                                {% else %}  
                            
                                    {% for comment in comments %}   

                                <span class="text-muted letter-spacing text-uppercase font-sm">Par {{ comment.getUser.getUserFullName }}</span>
                                
                                <span class="text-muted letter-spacing text-uppercase font-sm">{{ comment.getCommentText }}</span>  

                                <span class="text-muted letter-spacing text-uppercase font-sm">Publié le {{ comment.getCommentDateCreate }}</span>
                                    {% endfor %} 
                                {% endif %}
                                </article>                                          
                     </div>    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% endblock %}