{% extends 'permission/template.view.html.twig' %}

{% block title %}{{ parent() }} | Homepage{% endblock %}

{% block main_title %}Permissions With Users !{% endblock %}


{% block main_content_image %} 

{% endblock %}

{% block main_content2 %}                
    {% for permissionuser in permissionUsers %}
        <div class="col-lg-4">
            <div class="portfolio-info">
                <h3>Permission Information</h3>
                <ul>
                    <li><strong>Permission ID</strong>: {{ permissionuser.getPermissionId }}</li>
                    <li><strong>Permission Name</strong>: {{ permissionuser.getPermissionName }}</li>
                    <li><strong>Permission Description</strong>: {{ permissionuser.getPermissionDescription }}</li>

                    {% if permissionuser.getUser is not null %}
                    <ul>
                        {% for user in permissionuser.getUser %}
                            <li><strong>User</strong>:{{ user.getUserFullName }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}